{%extends "base.html" %}

{%block title%}
Загрузка файла
{%endblock%}

{%block body%}
<div class="text-block" style="border:10px solid #555; border-radius:10px; width: 500px; text-align:center;margin: 200px 500px">
    <form enctype="multipart/form-data" method='post' action="{{ url_for('index') }}">
        <p>
            <font face="consolas">Выберете изображение, текст с которого желаете получить</font>
        </p>
        <p>
            <input type='file' name='file'>
            <input type="submit" value="Отправить">
        </p>
        <p>
            <label><input type='radio' name='button' value="0" required>Русский язык</label>
            <label><input style="margin-left:15px" type="radio" name="button" value="1">Английский язык</label>
        </p>
    </form>
</div>
{%endblock%}